doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property="og:title", content=properties.title)
    meta(property="og:description", content=properties.description)

    link(rel='stylesheet', href='style/index.css')

    style( type='text/css').
      @font-face { font-family: 'inconsolata-bold'; src: url('fonts/Inconsolata-Bold.ttf') format("truetype"); /* Pretty Modern Browsers */ };
      @font-face { font-family: 'inconsolata'; src: url('fonts/Inconsolata-Regular.ttf') format("truetype"); /* Pretty Modern Browsers */ };

    title=properties.title

    script(src="js/phaser.js")
    script(src="js/app.min.js")

    include analytics.pug

  body

    p.hiddenText .
    p.hiddenText2
    

    if (!productionBuild)
      script.
        document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');
