@font-face { font-family: 'inconsolata-bold'; src: url('../fonts/Inconsolata-Bold.ttf') format("truetype"); /* Pretty Modern Browsers */ };
@font-face { font-family: 'inconsolata'; src: url('../fonts/Inconsolata-Regular.ttf') format("truetype"); /* Pretty Modern Browsers */ };


body
  margin auto

*
  margin 0
  padding 0

.hiddenText
  font-family inconsolata 
  visibility hidden 
  height 0

.hiddenText2
  font-family inconsolata-bold 
  visibility hidden 
  height 0
  

canvas   
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-crisp-edges
  image-rendering: pixelated
